<div class="thumbnail {{ include.pattern.pattern_category }}">
    <a href="{{ include.pattern.url | relative_url }}">
      <div class="image-container">
        {% if include.pattern.category == "high-level" %}
          <div class="color-block {{ include.pattern.pattern_category }}">
            {% if include.pattern.overlay %}
              <img src="{{ include.pattern.overlay | relative_url }}" alt="overlay icon" class="overlay-icon">
            {% endif %}
            <span class="block-text">
              {{ include.pattern.block_text | default: include.pattern.title }}
            </span>
          </div>
        {% else %}
          <img src="{{ include.pattern.thumbnail | relative_url }}" alt="{{ include.pattern.title }}">
        {% endif %}
      </div>
      <h4>{{ include.pattern.title }}</h4>
    </a>
  
    <p class="tag">
      {% if include.pattern.tags %}
        {% for tag in include.pattern.tags %}
          <span class="tag-item">{{ tag }}</span>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}
    </p>
  
    <div class="summary-truncated">
      {{ include.pattern.summary }}
    </div>
  
    <div class="color-bar {{ include.pattern.pattern_category }}"></div>
  </div>
  