<nav class="pattern-subnav">
  <ul class="dropdown-menu">

    <li class="dropdown">
      <span>High-Level Patterns ▾</span>
      <ul class="dropdown-content">
        {% for pattern in site.data.patterns.high_level %}
          <li><a href="{{ pattern.url | relative_url }}">{{ pattern.title }}</a></li>
        {% endfor %}
      </ul>
    </li>

    <li class="dropdown">
      <span>Sub-Level Patterns ▾</span>
      <ul class="dropdown-content">
        {% for pattern in site.data.patterns.sub_level %}
          <li><a href="{{ pattern.url | relative_url }}">{{ pattern.title }}</a></li>
        {% endfor %}
      </ul>
    </li>

  </ul>
</nav>