<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="canonical" href="{{ page.canonical | default: page.url | absolute_url | replace: 'index.html', '' }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="{{ '/css/layout_default.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/cards.css' | relative_url }}" rel="stylesheet">

  {% if page.url contains '/patterns/' %}
    <link href="{{ '/css/layout_pattern.css' | relative_url }}" rel="stylesheet">
  {% elsif page.url == '/technology.html' %}
    <link href="{{ '/css/layout_technology.css' | relative_url }}" rel="stylesheet">
  {% elsif page.url == '/literature.html' %}
    <link href="{{ '/css/layout_literature.css' | relative_url }}" rel="stylesheet">
  {% endif %}
</head>

<body>
  <div class="container">
    {% include header.html %}
    <main>
      {{ content }}
    </main> 
  </div>

  {% include footer.html %}
  <script src="{{ '/assets/js/site.js' | relative_url }}" defer></script>
</body>
</html>
