<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="{{ '/css/layout_default.css' | relative_url }}" rel="stylesheet">

  {% if page.url contains '/patterns/' %}
    <link href="{{ '/css/layout_pattern.css' | relative_url }}" rel="stylesheet">
  {% elsif page.url == '/technology.html' %}
    <link href="{{ '/css/layout_technology.css' | relative_url }}" rel="stylesheet">
  {% elsif page.url == '/literature.html' %}
    <link href="{{ '/css/layout_literature.css' | relative_url }}" rel="stylesheet">
  {% endif %}
</head>

<body>
  <div class="container">

    {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
    
    
  </div>

    <!-- 引入统一的 JavaScript 文件 -->
    <script src="{{ '/assets/js/site.js' | relative_url }}"></script>
</body>
</html>
