<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="{{ '/css/layout_default.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/layout_pattern.css' | relative_url }}" rel="stylesheet">
</head>

<body>
  <div class="container">

    {% include header.html %}

    <div class="pattern-page-container">
      <aside class="pattern-sidebar">
        {% include pattern-subnav.html %}
      </aside>

      <main class="pattern-main-content">
        {{ content }}
      </main>
    </div>

    {% include footer.html %}

  </div>

  <script src="{{ '/assets/js/site.js' | relative_url }}" defer></script>
</body>
</html>
